<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>

        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Thoughts</th>
        <th scope="col">Address</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let applicantResource of applicantResources">
        <td>{{applicantResource.name }}</td>
        <td>{{applicantResource.email}}</td>
        <td>{{ applicantResource.phone }}</td>
        <td>{{ applicantResource.thoughts }}</td>
        <td>{{ applicantResource.address}}</td>

      </tr>
      </tbody>
    </table>
  </div>
</div>
